<form class="" action="/cadUsuario" method="post">
  <p>Usuário:</p>
  <input type="text" name="usuario" value="">
  <p>Senha:</p>
  <input type="text" name="senha" value=""><br>
  <br>
  <button type="submit" name="btnPostagem ">Cadastrar</button>
</form>
