<title>Home</title>
<style>
    @media {
        .btn{
            margin-bottom: 7px;
        }
    }
    @media {
        .wrap {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    @media {
        .btn-outline-light:hover {
            box-shadow: 0px 15px 20px rgba(255, 0, 132, 0.2);
            transform: translateY(-7px);
        }
    }
    @media {
        .btn-bd-primary {
            --bs-btn-color: white;
            --bs-btn-bg: crimson;
            --bs-btn-hover-bg: pink;
            --bs-btn-hover-color: black;
        }
    }
</style>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <h3>Minhas Fichas</h3>
            <div class="container-sm text-end">
                <b>Logado como: {{session.name}}</b>
            </div>
        </div>
    </div>
</div>
<body>
    <hr class="border border-1 opacity-75">
    <div class="container-sm text-center">
        {{#each sheet}}
        <div class="row">
                <button type="button" onclick="location.href='/minha-ficha/{{id}}';" class="btn wrap btn-outline-light btn-lg"><i class="bi bi-card-heading"></i>&nbsp;{{name}}</button>
        </div>
        {{/each}}
        <br>
        <div class="row">
            <button type="button" onclick="location.href='/cadastra-ficha';" class="btn btn-bd-primary btn-lg"><i class="bi bi-file-plus-fill"></i>&nbsp;Nova Ficha</button>
        </div>
    </div>
</body>